<header class="site-header">
  <div class="wrapper">
    {%- assign page_paths = site.header_pages -%}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="{{ site.title | escape }}" class="site-logo">
    </a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          
        </span>
      </label>

      {% include nav-items.html paths = page_paths %}
    </nav>
  </div>
</header>